/* style.css */

/* Header Section */

.header-container {
  display: flex;
  flex: 1;
  flex-direction: horizontal;
  background: CadetBlue;
  width: 90%;
  height: 5%;
  flex-align: center;
}

.header-container div {
  flex: 1;
}

.header-container .one {
  width: 50%;
}

/* Background Section */

.background-container {
  display: flex;
  background: CadetBlue;
  width: 90%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.background-container img {
  width: 50%;
  height: 50%;

}

/* Picture Section */

.picture-container {
  display: flex;
  background: DarkGrey;
  width: 90%;
  gap: 10% 20px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.picture-container h3 {
  width: 100%;
  text-align: center;
}

.picture-container img{
  height: 200px;
  width: 200px;
  border: 4px solid Coral;
  border-radius: 10%;
}

.picture-container p{
  text-align: center;
}

/* Quote Section */

.quote-container {
  display: flex;
  background: Coral;
  width: 90%;
  justify-content: center;
  
}

.quote-contianer h3 {
  text-align: center;

}

.quote-container h4 {
  text-align: right;
}
/* Call to action Section */

.call-container {
  display: flex;
  background: DarkGrey;
  width: 90%;
  height: 75px;
  justify-content: center;
  align-content: center;
  flex-direction: column:
}

.call-contianer p {
  background-color: Coral;
  border-radius: 50%; 
  color: blue;
}

/* Copyright Section  */

.copyright-container {
  display: flex;
  background: CadetBlue;
  width: 90%;
  justify-content: center;
}

.copyright-container div {

}
